#body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Search Bar  */
#search-bar-container {
    margin-top: 12rem;
}

/* Theme Tabs */
#tabs-container {
    margin-top: 3rem;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
#tabs-container button {
    background-color: #003153;
    color: #fff;
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
/* Change background color of buttons (tabs) on hover */
#tabs-container button:hover {
    background-color: #ddd;
    color: #003153;
}

#gif-container {
    margin-top: 3rem;
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.gif {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}